<div class="navbar sticky-top navbar-expand-sm navbar-light navbar-lewagon">

  <%= link_to songs_path, id: "left-logo", class: "navbar-brand nav-link" do %>
    <%= image_tag "logo_playrpm" %>
    All songs
  <% end %>


  <% if user_signed_in? %>
    <%= link_to songs_path do %>
    <%= image_tag "text_playrpm", id: "center-logo", class: "navbar-brand text_logo px-3" %>
    <% end %>
  <% else %>
    <%= link_to root_path do %>
    <%= image_tag "text_playrpm", id: "center-logo", class: "navbar-brand text_logo px-3" %>
    <% end %>
  <% end %>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to "Log out", "/users/sign_out", method: 'delete', class: "nav-link mr-3" %>
        <% else %>
          <%= link_to "Login", "/users/sign_in", class: "nav-link mr-3" %>
        <% end %>
      </li>
      <li>
        <% if user_signed_in? %>
          <%= link_to "Upload your song!", "/songs/new", class: "upload-button btn btn-danger" %>
        <% end %>
      </li>


    </ul>
  </div>
</div>
