<div class="navbar sticky-top navbar-light navbar-lewagon mobile-nav">
  <div class='left_icon_text d-flex'>
        <%= link_to songs_path, id: "left-logo", class: "navbar-brand nav-link" do %>
          <%= image_tag "logo_playrpm.png" %>
        <% end %>
  </div>


  <% if user_signed_in? %>
    <%= link_to songs_path do %>
    <%= image_tag "text_playrpm.png", id: "center-logo", class: "navbar-brand text_logo px-3" %>
    <% end %>
  <% else %>
    <%= link_to root_path do %>
    <%= image_tag "text_playrpm.png", id: "center-logo", class: "navbar-brand text_logo px-3" %>
    <% end %>
  <% end %>



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav-mobile mr-auto">
      <li>
        <% if user_signed_in? %>
          <%= link_to new_song_path, class: "nav-link-mobile mr-3" do %>
            <i class="fas fa-plus"></i> Upload
          <% end %>
        <% end %>
      </li>
      <li>
        <% if user_signed_in? %>
          <%= link_to  songs_path, class: "nav-link-mobile mr-3" do %>
            <i class="fas fa-music"></i> All Songs
          <% end %>
        <% end %>
      </li>
      <li>
        <% if user_signed_in? %>
          <%= link_to  songs_path, class: "nav-link-mobile mr-3" do %>
            <i class="fas fa-shopping-cart"></i> Cart
          <% end %>
        <% end %>
      </li>
      <li>
        <% if user_signed_in? %>
          <%= link_to  songs_path, class: "nav-link-mobile mr-3" do %>
             <i class="fas fa-home"></i> Home
          <% end %>
        <% end %>
      </li>
      <li>
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: 'delete', class: "nav-link-mobile mr-3" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link-mobile mr-3" %>
        <% end %>
      </li>


    </ul>
  </div>
</div>

<div class="navbar sticky-top navbar-expand-md navbar-light navbar-lewagon desktop-nav">
  <div class='left_icon_text d-flex'>
    <ul class="navbar-nav mr-auto">
      <li class="icon_greeting">
        <%= link_to songs_path, id: "left-logo", class: "navbar-brand nav-link" do %>
          <%= image_tag "logo_playrpm.png" %>
        <% end %>
      </li>
      <li>
      <% if user_signed_in?  %>
        <div class="collapse navbar-collapse" id="hello">
          <p class="username-navbar"> //  Hello, <%= current_user.username %> :)</p>
        </div>
      <% end %> 
      </li>
    </ul>
  </div>


  <% if user_signed_in? %>
    <%= link_to songs_path do %>
    <%= image_tag "text_playrpm.png", id: "center-logo", class: "navbar-brand text_logo px-3" %>
    <% end %>
  <% else %>
    <%= link_to root_path do %>
    <%= image_tag "text_playrpm.png", id: "center-logo", class: "navbar-brand text_logo px-3" %>
    <% end %>
  <% end %>



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>




  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class='navbar-icons-desktop' >
        <% if user_signed_in? %>
          <%= link_to "", data: {toggle: "modal", target: ".uploadsong_bd-example-modal"}, class: "upload-button btn btn-danger btn-sm" do %>
            <i class="fas fa-plus"></i>
          <% end %>
        <% end %>
      </li>
      <li class='navbar-icons-desktop' >
        <% if user_signed_in? %>
          <%= link_to  songs_path, class: "profile-button btn btn-danger btn-sm" do %>
            <i class="fas fa-music"></i>
          <% end %>
        <% end %>
      </li>
      <li class='navbar-icons-desktop'>
        <% if user_signed_in? %>
          <%= link_to define_cart_link, class: "cart-button btn btn-danger btn-sm"  do %>
            <i class="fas fa-shopping-cart"></i>
          <% end %>
        <% end %>
      </li>
      <li class='navbar-icons-desktop'>
        <% if user_signed_in? %>
          <%= link_to user_account_path, class: "home-button btn btn-danger btn-sm" do %>
            <i class="fas fa-home"></i>
          <% end %>
        <% end %>
      </li>
      <li class='navbar-icons-desktop logout-desktop'>
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: 'delete', class: "nav-link mr-3" %>
        <% else %>
          <%= link_to "Sign Up", "", data: {toggle: "modal", target: ".signin_bd-example-modal"}, class: "nav-link" %>
           | <%= link_to "Login", "", data: {toggle: "modal", target: ".bd-example-modal"}, class: "nav-link mr-3" %>
        <% end %>
      </li>


    </ul>
  </div>
</div>

<%= render 'shared/signup_form' %>

<%= render 'shared/upload_song_form' %>

<%= render 'shared/login_form' %>
