<div class="container">


  <div class="song-container m-3">

  <%= link_to songs_path, class: "back-button btn btn-secondary d-flex flex-start" do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>

    <h1 class="m-3"><strong><%= @song.title %></strong></h1>
    <h2>Album: <%= @song.album %> </h2>
    <h2>Artist: <%= @song.artist %></h2>
    <h4 class="m-4"> <em>A track from  <%= @song.user.username.present? ? @song.user.username : 'Anonymous' %> </em></h4>
    <div class="m-3">
    <%= render_audio(@song) %>
    </div>

    <div class="album-cover mt-4 mb-4">
      <%= render_photo(@song) %>
    </div>

    <div class="button-box mb-5">

      <%= link_to order_songs_path(song_id: @song), method: :post, class: "btn btn-danger mr-2" do %>
        Add To Cart <i class="fas fa-cart-plus"></i>
      <% end %>


        <% if current_user == @song.user %>
          <%= link_to song_path(@song), method: :delete, class: "user-buttons btn btn-danger mr-1", data: { confirm: "Are you sure you want to delete this masterpiece?"} do %>
            Delete <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>

        <% if current_user == @song.user %>
          <%= link_to edit_song_path(@song), class: "user-buttons btn btn-primary" do %>
            Edit <i class="fas fa-edit"></i>
          <% end %>
        <% end %>


    </div>
  </div>

</div>
