<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1530288782965-fbad40327074?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);">
  <div class="container">
    <h1 class="pt-5">Your Order</h1>
    <p>ID#<%= @order.id %></p>
    <div class="order_item_cards">
      <ul>
        <% @order.order_songs.each do |item| %>
          <li>
            <div class="order_item_card">
              <%= render_cart_photo(item.song) %>
              <h2><%= item.song.title %></h2>
              <div class="cart_item_buttons">
                <%= link_to song_path(item.song), class: "eye_icon" do %>
                  <i class="fas fa-eye"></i>
                <% end %>
                <%= link_to order_song_path(item), method: :delete, class: "trash_icon" do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="">
      <%= link_to 'View Songs', songs_path, class: "btn btn-primary"  %>
      <%= link_to order_path(@order), method: :patch, class: "btn btn-danger" do %>
        Checkout <i class="fas fa-cart-arrow-down"></i>
      <% end %>
    </div>
  </div>
</div>
