<div class="banner-profile mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);">
  <h1 class="text-center py-5" style="color:white;"><%= profile_greeting %>, <%= current_user.username %></h1>
</div>

<div class="container">
  <h2 class="my-3">My Songs</h2>
  <div class="d-flex align-items-center justify-content-between mb-3 mt-3">
  </div>

  <div class="cards mb-5">
    <% @songs.reverse.each do |song| %>
      <div class="card-trip">
        <%= render_photo(song) %>
        <div class="card-trip-infos">
          <div>
            <%= link_to song_path(song) do %>
              <h2><%= song.title %></h2>
              <p><%= song.album %></p>
              <p> <%= song.artist %> </p>

              <div class="mx-3 mt-2">
                <%= render_audio(song) %>
              </div>

            <% end %>
          </div>
          <h2 class="card-trip-pricing"></h2>
        </div>
      </div>
    <% end %>
  </div>

</div>
